{% extends layout %}
{% block content %}
<div class="container">
  <div class="cards d-flex flex-wrap justify-content-center">
  <div class="card" style="width: 42rem;">
    <div class="card-body">
      <form action="/secret/" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Meep® something</label>
          <input type="text" class="form-control" id="body" name="body" placeholder="Meep..." autocomplete="off">
          <label for="exampleFormControlInput1" class="form-label" id="char-count"></label>
        </div>
        <input type="submit" class="btn btn-primary mb-3" value="Post">
      </form>
    </div>
  </div> 
  {% for item in items %}
  <div class="card" style="width: 42rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.updated_at}}</h6>
      <p class="card-text">{{item.body}}</p>
      <div class="d-flex">
      <a href="/secret/{{item.id}}" class="btn btn-primary mr-auto">Edit</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
    
</div>
{% endblock %}
            
